<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="hibernate.connection.url">jdbc:hsqldb:file:C:/Users/oefish/Documents/NetBeansProjects/geoVince900/db/guidb;default_schema=PUBLIC;shutdown=true</property>
    <!--property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost:9001/</property-->
    <property name="hibernate.connection.username">geovince</property>
    <property name="hibernate.connection.password">1234554321</property>/&gt;
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">validate</property>
    <property name="hibernate.default_schema">PUBLIC</property>
    <!--property name="hibernate.connection.pool_size">0</property-->
    <!--property name="hibernate.c3p0.min_size">1</property>
    <property name="hibernate.c3p0.max_size">1</property>
    <property name="hibernate.c3p0.timeout">10</property>
    <property name="hibernate.c3p0.max_statements">50</property-->
    <property name="hibernate.jdbc.factory_class">com.boldust.gui.BoldustGuiSessionFactory</property>
    <mapping resource="com/boldust/gui/entities/A.hbm.xml"/>
    <mapping resource="com/boldust/gui/entities/hibernate.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
